<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cloudoki.vuforiacordovaplugin"
    version="0.0.1">
    <name>Vuforia Cordova Plugin</name>

    <description>A plugin implementation of vuforia for cordova.</description>

    <author>Délio Amaral</author>

    <keywords>cordova, vuforia</keywords>

    <repo>https://github.com/</repo>

    <license>See License.md for details of the license</license>

    <engines>
      <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/VuforiaCordovaPlugin.js" target="js/VuforiaCordovaPlugin.js"/>

    <js-module src="www/VuforiaCordovaPlugin.js" name="VuforiaCordovaPlugin">
        <clobbers target="VuforiaCordovaPlugin" />
    </js-module>

    <!-- Android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="VuforiaCordovaPlugin">
           <param name="android-package" value="com.cloudoki.vuforiacordovaplugin.VuforiaCordovaPlugin"/>
           <param name="onload" value="true" />
         </feature>
      </config-file>
      <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
        <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
          android:name="com.cloudoki.vuforiacordovaplugin.PermissionsRequester"
          android:label="@string/app_name"
          android:parentActivityName="com.cloudoki.vuforiacordovaplugin.VuforiaCordovaPlugin"
          android:screenOrientation="portrait"
          android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
          <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value="com.cloudoki.vuforiacordovaplugin.VuforiaCordovaPlugin" />
        </activity>
      </config-file>

      <!-- Add our required strings -->
      <config-file target="res/values/strings.xml" parent="/*">
          <string name="PERMISSIONS">Please allow the permissions requested or the application will not be able to work.</string>
          <string name="GRANTED">All permissions allowed, press back key to go back to the application.</string>
          <string name="attention">Attention</string>

          <string name="button_OK">OK</string>

          <string name="INIT_ERROR">Error</string>
          <string name="INIT_ERROR_DEVICE_NOT_SUPPORTED">Failed to initialize application. This device is not supported.</string>
          <string name="INIT_ERROR_NO_CAMERA_ACCESS">Failed to initialize application. Camera not accessible</string>
          <string name="INIT_LICENSE_ERROR_MISMATCH_KEY">Vuforia App key is not valid for this product. Please get a valid key, by logging into your account at developer.vuforia.com and choosing the right product type during project creation.</string>
          <string name="INIT_LICENSE_ERROR_MISSING_KEY">Vuforia App key is missing. Please get a valid key, by logging into your account at developer.vuforia.com and creating a new project.</string>
          <string name="INIT_LICENSE_ERROR_INVALID_KEY">Invalid Key used. Please make sure you are using a valid Vuforia App Key.</string>
          <string name="INIT_LICENSE_ERROR_NO_NETWORK_TRANSIENT">Unable to contact server. Please try again later.</string>
          <string name="INIT_LICENSE_ERROR_NO_NETWORK_PERMANENT">No network available. Please make sure you are connected to the Internet.</string>
          <string name="INIT_LICENSE_ERROR_CANCELED_KEY">This app license key has been canceled and may no longer be used. Please get a new license key.</string>
          <string name="INIT_LICENSE_ERROR_PRODUCT_TYPE_MISMATCH">Vuforia App key is not valid for this product. Please get a valid key, by logging into your account at developer.vuforia.com and choosing the right product type during project creation.</string>
          <string name="INIT_LICENSE_ERROR_UNKNOWN_ERROR">Failed to initialize application.</string>
          <string name="INIT_OBJECT_DATASET_NOT_FOUND_TITLE">Database not found</string>
          <string name="INIT_OBJECT_DATASET_NOT_FOUND">Please scan an object and load a database</string>
      </config-file>

      <framework src="com.android.support:support-v4:+" />
      <framework src="com.android.support:appcompat-v7:+" />

      <source-file src="src/android/vuforiacordovaplugin" target-dir="src/com/cloudoki/" />
      <source-file src="src/android/utils" target-dir="src/com/cloudoki/vuforiacordovaplugin/" />
      <source-file src="src/android/video" target-dir="src/com/cloudoki/vuforiacordovaplugin/" />
      <source-file src="src/android/res/layout" target-dir="res/" />
      <source-file src="src/android/res/values/colors.xml" target-dir="res/values/" />
      <source-file src="src/android/libs/build-extras.gradle" target-dir="." />
    </platform>

    <!-- iOS -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="VuforiaCordovaPlugin">
          <param name="ios-package" value="VuforiaCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <!-- <header-file src="src/ios/AppDelegate+gesture.h" target-dir="." /> -->
      <source-file src="src/ios/AppDelegate+gesture.m" target-dir="." />
      <header-file src="src/ios/AppRenderer.h" target-dir="." />
      <source-file src="src/ios/AppRenderer.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/milestone.h" target-dir="." />
      <header-file src="src/ios/Quad.h" target-dir="." />
      <header-file src="src/ios/SampleApplication3DModel.h" target-dir="." />
      <source-file src="src/ios/SampleApplication3DModel.m" target-dir="." />
      <!-- <header-file src="src/ios/Teapot.h" target-dir="." /> -->
      <header-file src="src/ios/Texture.h" target-dir="." />
      <source-file src="src/ios/Texture.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/VideoPlayerHelper.h" target-dir="." />
      <source-file src="src/ios/VideoPlayerHelper.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/VuforiaAppSession.h" target-dir="." />
      <source-file src="src/ios/VuforiaAppSession.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/VuforiaAppShaderUtils.h" target-dir="." />
      <source-file src="src/ios/VuforiaAppShaderUtils.m" target-dir="." />
      <header-file src="src/ios/VuforiaAppUtils.h" target-dir="." />
      <source-file src="src/ios/VuforiaAppUtils.cpp" target-dir="." />
      <header-file src="src/ios/VuforiaCordovaPlugin.h" target-dir="." />
      <source-file src="src/ios/VuforiaCordovaPlugin.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/VuforiaEAGLView.h" target-dir="." />
      <source-file src="src/ios/VuforiaEAGLView.mm" target-dir="." compiler-flags="-fno-objc-arc" />
      <header-file src="src/ios/VuforiaGLResourceHandler.h" target-dir="." />
      <header-file src="src/ios/VuforiaMath.h" target-dir="." />
      <source-file src="src/ios/VuforiaMath.cpp" target-dir="." />
      <header-file src="src/ios/VuforiaViewController.h" target-dir="." />
      <source-file src="src/ios/VuforiaViewController.mm" target-dir="." compiler-flags="-fno-objc-arc" />


      <resource-file src="src/ios/shaders/Background.fragsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/Background.vertsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/Line.fragsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/Line.vertsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/Simple.fragsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/Simple.vertsh" target-dir="com.cloudoki.vuforiacordovaplugin" />
      <resource-file src="src/ios/shaders/SimpleWithColor.fragsh" target-dir="com.cloudoki.vuforiacordovaplugin" />

      <!-- Frameworks need for video playback -->
      <framework src="AudioToolbox.framework" />
      <framework src="MediaPlayer.framework" />
      <framework src="CoreGraphics.framework" />
      <framework src="CoreFoundation.framework" />

      <!-- Add a value to our Info.plist file for iOS 10+ security permissions -->
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>To scan for images targets.</string>
      </config-file>
    </platform>

    <dependency id="cordova-plugin-vuforia-sdk" version="6.x.x" />
</plugin>
